@font-face {
    font-family: 'Helvetica Neu Bold';
        src: url('/mobile-application/fonts/HelveticaNeuBold.ttf');
}
@font-face {
    font-family: 'Helvetica Neu Light';
        src: url('/mobile-application/fonts/HelveticaNeueLight.ttf');
}
@font-face {
    font-family: 'Adobe Garamond Regular';
        src: url('/mobile-application/fonts/AdobeGaramondRegular.otf');
}

h3 {
    font-family: 'Helvetica Neu Bold';
}





/* Change this to get admin interface */
.region_header {
    display: none;
}
.region_sub_header {
    display:none;
}
.node {
    padding-top: 0px!important;
}
#articles {
    padding-top: 0px!important;
}
#articles div:nth-of-type(2) {
    background-image: url(TCLogoColor.png);
    height: 27vh;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    width: 100%;
    margin: 0 auto;
    display: block;
    background-size: 40%;
    margin-top: -1px;
    display: none;
}
/* end of comment */



.region_navigation {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 3.5em;
    z-index: 9999;
    background: rgba(41,86,143,1)!important;
}

.ui-navbar ul li a {
    height: 3em;
    line-height: 3.5;

}
.ui-btn-active {
    background-color: rgba(41,86,143,1)!important;
    border-color: inherit!important;
}
.ui-navbar ul li a:visited {
    background-color: rgba(41,86,143,1)!important;
    border: 0px!important;
}
.ui-navbar ul li a {
    background-color: rgba(41,86,143,1)!important;
    border: 0px!important;
}


.region_content {
	margin-bottom: 3em;
    padding: 0;
}
.views-rows {
    display: flex;
    flex-wrap: wrap;
}
.views-rows a {
    width: 40%;
        margin: 0 auto;
        height: 15vh;
        margin-bottom: 1.8em;
        color: #f1f1f1;
        text-decoration: none;
        text-align: center;
        line-height: 6.5;
        text-shadow: 0 0 0;
        border-radius: 10px;
        position: relative;
        display: flex;
        order: 2;
}

.ui-page-theme-a a:visited, html .ui-bar-a a:visited, html .ui-body-a a:visited, html body .ui-group-theme-a a:visited {
    color: #f1f1f1;
}

#events div:nth-of-type(2) {
    display: block;
}
.views-rows a img {
    border-radius: 25px;
    width: 100%!important;
    height: 100%;
    position: absolute;
    left: 0;
}

.views-rows a h3 {
    position: relative;
        margin: 0;
        width: 100%;
        border-radius: 25px;
        text-align: left;
        line-height: 10;
        padding-left: 0.7em;
        font-size: 2.4vh;
}
.views-rows a:nth-of-type(4n+1) h3 {
    background: linear-gradient(45deg, rgba(211,145,0,1) 0%, rgba(211,145,0,0.2) 100%);
}
.views-rows a:nth-of-type(4n+4) h3 {
    background: linear-gradient(45deg, rgba(211,145,0,1) 0%, rgba(211,145,0,0.2) 100%);
}
.views-rows a:nth-of-type(4n+2) h3 {
    background: linear-gradient(45deg, rgba(41,86,143,1) 0%, rgba(41,86,143,0.3) 100%);
}
.views-rows a:nth-of-type(4n+3) h3 {
    background: linear-gradient(45deg, rgba(41,86,143,1) 0%, rgba(41,86,143,0.3) 100%);
}


.ui-content .ui-listview, .ui-panel-inner>.ui-listview {
    margin-bottom: 1em;
}
.ui-header div ul {
    margin: 0;
    display: flex;
    padding: 0;
    background-color: #f9f9f9;
}
.ui-header div ul li {
    list-style: none;
    width: 50%;
    text-align: center;
    line-height: 2;
}
.ui-header div ul li a {
    margin: 0 auto;
    width: 93%;
}

.ui-icon-home:after {
	background-image: url("/mobile-application/images/TCLogo.png");
    background-size: 100%!important;
}
.ui-icon-cloud:after {
	background-image: url("/mobile-application/images/QRCode.png");
}
.ui-icon-calendar:after {
	background-image: url("/mobile-application/images/Compass.png");
}
.ui-icon-calendar:after, .ui-icon-cloud:after, .ui-icon-home:after {
    background-size: 80%;
    width: 44px;
    height: 44px;
    margin-left: -22px;
    top: .4em;
    background-color:  rgba(41,86,143,1);

}
.views-rows a:last-child {
    background:none;
    margin: 0 auto;
    height: 14em;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    order: 1;
    margin-bottom: 2.5em;
}
.views-rows a:nth-last-of-type(1) h3 {
    background: none;
    line-height: 3;
    font-size: 24px;
    color: #555;

}
.views-rows a:nth-last-of-type(1) p {
    position: absolute;
    color: #555;
    padding-left: 1.2em;
    font-family: 'Helvetica Neu Light';
}
.views-rows a:nth-last-of-type(1) img {
    width: 58%!important;
    margin: 0 auto;
    position: absolute;
    right: 0;
    height: 95%;
    top: 3vh;
}
