.ui-bar-a, .ui-page-theme-a .ui-bar-inherit, html .ui-bar-a .ui-bar-inherit, html .ui-body-a .ui-bar-inherit, html body .ui-group-theme-a .ui-bar-inherit {
/*	background-image: url(tcbild.png);
	height: 210px;
	background-repeat: no-repeat;
	background-position: center;
	background-color: white;
*/
}
.region_navigation {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 4em;
    z-index: 9999;
}
.ui-navbar ul li a {
    height: 4em;
    line-height: 3.5;

}
.ui-btn-active {
background-color: #888!important;

}
.region_content {
	margin-bottom: 3em;
}
.views-rows {
    display: flex;
    flex-wrap: wrap;
}
.views-rows a {
    width: 46%;
    margin: 0 auto;
    height: 7em;
    margin-bottom: 1em;
    color: #f1f1f1;
    text-decoration: none;
    text-align: center;
    line-height: 6.5;
    text-shadow: 0 0 0;
        border-radius: 10px;
        position: relative;
        background-color: none;
}
.ui-page-theme-a a:visited, html .ui-bar-a a:visited, html .ui-body-a a:visited, html body .ui-group-theme-a a:visited {
    color: #f1f1f1;
}

#articles div:nth-of-type(2) {
    background-image: url(tcbild.png);
    height: 180px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    width: 100%;
    margin: 0 auto;
}

.views-rows a img {
    border-radius: 10px;
    height: 100%;
    position: absolute;
        left: 0;
}

.views-rows a p {
position: relative;
margin: 0;
height: 100%;
line-height: 7;
}

.ui-content .ui-listview, .ui-panel-inner>.ui-listview {
    margin-bottom: 1em;
}
.ui-header div ul {
    margin: 0;
    display: flex;
    padding: 0;
    background-color: #f9f9f9;
}
.ui-header div ul li {
    list-style: none;
    width: 50%;
    text-align: center;
    line-height: 2;
}
.ui-header div ul li a {
    margin: 0 auto;
    width: 93%;
}
